<div class="row">
    <div class="col-3"></div>
    <div class="col-6 mt-4 bg-white">
        <div class="d-flex justify-content-between">
            <img class="logo" src="assets/logo.png" alt="">
            <div class="text-uppercase text-center">
                <h3 >plataforma educativa institucional</h3>
                <h5 >facultad de ingeniería en sistemas, electrónica e industrial</h5>
            </div>
            <img class="sistemas" src="assets/sistemas.png" alt="">
        </div>
    </div>
    <div class="col-3"></div>
</div>