<div class="row">
    <div class="col-3"></div>
    <div class="col-6 mt-4 bg-white">
        <div>
            <h3 class="text-center">Actualización de datos, para beca</h3>
            <form action="" (submit)="onSubmit()" [formGroup]="dataForm" class="row" >
                <div class="mb-3 col-12">
                    <label for="cedula" class="form-label">Cedula</label>
                    <input type="text" class="form-control" id="cedula" placeholder="0000000000" formControlName="cedula" >
                </div>
                <div class="mb-3 col-6">
                    <label for="nombres" class="form-label">Nombres</label>
                    <input type="text" class="form-control" id="nombres" placeholder="Nombres completos" formControlName="nombres">
                </div>
                <div class="mb-3 col-6">
                    <label for="apellidos" class="form-label">Apellidos</label>
                    <input type="text" class="form-control" id="apellidos" placeholder="Apellidos completos" formControlName="apellidos">
                </div>
                <div class="mb-3 col-6">
                    <label for="fecNac" class="form-label">Fecha Nacimiento</label>
                    <input type="date" class="form-control" id="fecNac" formControlName="fechaNacimiento">
                </div>
                <div class="mb-3 col-6">
                    <label for="celular" class="form-label">Celular</label>
                    <input type="tel" class="form-control" id="celular" placeholder="0987654321" formControlName="celular">
                </div>
                <div class="mb-3 col-6">
                    <label for="">Semestre</label>
                    <select class="form-select" id="carrera" formControlName="semestre">
                        <option selected disabled class="text-secondary">Semestre</option>
                        <option value="1">Primero</option>
                        <option value="2">Segundo</option>
                        <option value="3">Tercero</option>
                        <option value="4">Cuarto</option>
                        <option value="5">Quinto</option>
                        <option value="6">Sexto</option>
                        <option value="7">Septimo</option>
                        <option value="8">Octavo</option>
                        <option value="9">Noveno</option>
                      </select>
                </div>
                <div class="mb-3 col-6">
                    <label for="">Carrera</label>
                    <select class="form-select" id="carrera" formControlName="carrera">
                        <option selected disabled class="text-secondary">Carrera</option>
                        <option value="1">Sistemas Computacionales e Infomáticos</option>
                        <option value="2">Electrónica y Telecomunicaciones</option>
                        <option value="3">Industrial en Procesos de Automatización</option>
                        <option value="4">Tecnologías de la información</option>
                        <option value="5">Ingeniería Industrial</option>
                        <option value="6">Software</option>
                      </select>
                </div>
                <div class="mb-3">
                    <button class="btn text-bg-secondary mb-3" >Actualizar datos</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-3"></div>
</div>